<div class='demo-app'>
    <div class='demo-app-sidebar'>
        <div class='demo-app-sidebar-section'>
            <h2>Instructions</h2>
            <ul>
                <li>Select dates and you will be prompted to create a new event</li>
                <li>Drag, drop, and resize events</li>
                <li>Click an event to delete it</li>
            </ul>
        </div>

        <div class='demo-app-sidebar-section'>
            <label>
                <input type='checkbox' [checked]='excludeDays.length == 0' (change)='handleWeekendsToggle()' />
                toggle weekends
            </label>
        </div>
        <div class='card demo-app-sidebar-section' mwlDroppable (drop)="externalDrop($event.dropData.event)"
            dragOverClass="drag-over">
            <h2>External Events ({{externalEvents.length}})</h2>
            <ul>
                <li *ngFor="let event of externalEvents" mwlDraggable [dropData]="{event: event}"
                    [touchStartLongPress]="{ delay: 300, delta: 30 }" dragActiveClass="drag-active">
                    <a href="javascript:;" [style.color]="event.color.primary">
                        {{ event.title }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row text-center">

        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                    הבא
                </div>
                <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                    היום
                </div>
                <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                    קודם
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>
                {{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}
            </h3>
        </div>

        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                    [class.active]="view === CalendarView.Month">
                    חודש
                </div>
                <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                    [class.active]="view === CalendarView.Week">
                    שבוע
                </div>
                <div class="btn btn-primary" (click)="setView(CalendarView.Day)"
                    [class.active]="view === CalendarView.Day">
                    יום
                </div>
            </div>
        </div>

        <!-- <br /> -->


        <ng-template #customCellTemplate let-day="day" let-openDay="openDay" let-locale="locale"
            let-tooltipPlacement="tooltipPlacement" let-highlightDay="highlightDay" let-unhighlightDay="unhighlightDay"
            let-eventClicked="eventClicked" let-tooltipTemplate="tooltipTemplate"
            let-tooltipAppendToBody="tooltipAppendToBody">
            <div class="cal-cell-top">
                <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
                <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
            </div>
            <small style="margin: 5px;">{{getHolidayTitle(day.date )}}</small>
            <div class="cell-totals">
                <span *ngFor="let group of day.eventGroups" class="badge badge-{{ group[0] }}">
                    {{ group[1].length }}
                </span>
            </div>
            <div class="cal-events" *ngIf="day.events.length > 0">
                <div class="cal-event" *ngFor="let event of day.events; trackBy:trackByEventId"
                    [style.backgroundColor]="event.color?.primary" [ngClass]="event?.cssClass"
                    (mouseenter)="highlightDay.emit({event: event})" (mouseleave)="unhighlightDay.emit({event: event})"
                    [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
                    [tooltipPlacement]="tooltipPlacement" [tooltipEvent]="event" [tooltipTemplate]="tooltipTemplate"
                    [tooltipAppendToBody]="tooltipAppendToBody" mwlDraggable [class.cal-draggable]="event.draggable"
                    dragActiveClass="cal-drag-active" [dropData]="{event: event, draggedFrom: day}"
                    [dragAxis]="{x: event.draggable, y: event.draggable}"
                    (mwlClick)="eventClicked.emit({ event: event })">
                </div>
            </div>
        </ng-template>

        <div [ngSwitch]="view" class='demo-app-main' dir="rtl">
            <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [locale]="locale"
                [weekStartsOn]="weekStartsOn" [weekendDays]="weekendDays"
                (beforeViewRender)="beforeMonthViewRender($event)" [cellTemplate]="customCellTemplate"
                (eventClicked)="eventClicked($event)" [excludeDays]="excludeDays" (dayClicked)="dayClicked($event.day)"
                [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [locale]="locale"
                [weekStartsOn]="weekStartsOn" [weekendDays]="weekendDays" (eventClicked)="eventClicked($event)"
                [excludeDays]="excludeDays" [template]="custeomWeekTemplate">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [locale]="locale"
                (eventClicked)="eventClicked($event)" [excludeDays]="excludeDays">
            </mwl-calendar-day-view>
        </div>
    </div>
</div>