<!-- <div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-outline-secondary" (click)="goCalendarDemo()">
                hebrew calendar
            </div>

            <div class="btn btn-outline-secondary" (click)="goCalendarWithHolidayDemo()">
                calendar with holiday
            </div>

            <div class="btn btn-outline-secondary" (click)="goHebrewCalendarWithHolidayDemo()">
                hebrew calendar with holiday
            </div>
        </div>
    </div>

</div>
<br /> -->


<router-outlet></router-outlet>